<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>
    <script>
        function add_points(id, points) {
            $.ajax({
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/tasks/count',
                headers: {
                    'X-CSRF-TOKEN': $("meta[name='_csrf']").attr("content")
                },
                data: JSON.stringify({
                    "points": points
                }),
                success: function () {
                    const user_points_el = document.getElementById("user_points");
                    const user_points_left_el = document.getElementById("user_points_left");
                    user_points_el.textContent = String(Number(user_points_el.textContent) + Number(points));
                    user_points_left_el.textContent = String(Number(user_points_left_el.textContent) - Number(points));
                    const card_el = document.getElementById("card" + id);
                    highlight(card_el);
                }
            });
        }

        function highlight_stars(id) {
            const stars = document.getElementsByClassName("star_" + id);
            for (let i = 0; i < stars.length; i++) {
                stars[i].style.width = "10%";
            }
        }

        function highlight_stars_leave(id) {
            const stars = document.getElementsByClassName("star_" + id);
            const orig = "8%";
            for (let i = 0; i < stars.length; i++) {
                stars[i].style.width = orig;
            }
        }


        function highlight(obj) {
            const orig = obj.style.border;
            obj.style.border = "3px solid #50C878";
            setTimeout(function () {
                obj.style.border = orig;
            }, 200);
        }
    </script>
    <style>
        a {
            text-decoration: none;
        }

        .card {
            transition: transform 80ms;
        }

        .card:active {
            transform: scale(1.03);
        }
        span{
            color: red;
            font-size: 35px;
        }

    </style>
</head>
<body>
<nav th:replace="~{fragments/header-auth::header(${user.getUsername()})}"></nav>

<main>
    <div class="row justify-content-center">
        <div class="col-md-6 col-10">
            <!--    points-->
            <div class="my-5">
                <p style="font-size: 30px; text-align: center">You have got <span th:text="${user.getPoints()}"
                                                                                  id="user_points"></span> stars! <span
                        th:text="${1000 - user.getPoints()}" id="user_points_left"></span> left to be a
                    mrsuccesscucumber228!</p>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100">
                    <div class="progress-bar" th:style="${'width: ' + user.getPoints()/10 + '%'}"></div>
                </div>
            </div>
            <!--    tasks-->
            <div th:if="${categories.size()>0}">
                <div th:each="category: ${categories}">

                    <!--            category tasks-->
                    <h1 class="display-5 mb-3 mt-5" th:text="${category.getName()}">Category</h1>
                    <p th:text="${category.getDescription()}">Description</p>
                    <div class="row row-cols-2 row-cols-md-3 g-2">
                        <div class="col" th:each="task : ${category.getTasks()}">

                            <!--                    user cards-->
                            <a class="card shadow-sm h-100" onmouseover="highlight_stars(this.id)"
                               onmouseleave="highlight_stars_leave(this.id)"
                               th:id="'card'+${task.getId()}" type="button" data-bs-toggle="modal"
                               th:data-bs-target="'#modal' + ${task.getId()}">
                                <img class="card-img-top" th:src="@{/images/{id} (id = ${task.getImage()})}"
                                     th:alt="${task.getName()}">

                                <div class="card-body">
                                    <h4 class="card-title" th:text="${task.getName()}"></h4>
                                    <p class="card-subtitle" th:text="${task.getDescription()}"></p>
                                    <div class="card-subtitle text-center mt-3">
                                        <img th:each="dummy : ${task.getDummyList()}" th:src="@{/images/star3.png}"
                                             th:class="${'star_card'+task.getId()} + ' mx-1'" alt="star"
                                             width="8%">
                                    </div>
                                </div>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'modal'+${task.getId()}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                th:text="${task.getName()}">
                                                Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body"
                                             th:text="'Are you sure that you have done the task? You will get ' + ${task.getPoints()} + ' stars.'">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button th:value="${task.getPoints()}" th:id="${task.getId()}"
                                                    onclick="add_points(this.id, this.value)" type="button"
                                                    class="btn btn-primary" data-bs-dismiss="modal">I've done the task!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>