<footer class="text-muted py-5 bg-dark mt-5" th:fragment="footer">
    <div class="container" style="color: white">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Many photos are taken from third-party resources, the link to them is indicated in the
            references at the bottom of the page or in the <a href="/about">about tab</a></p>
        <a href="/" style="display: block">Home</a>
        <a href="/challenge" style="display: block">Challenge</a>
        <a href="/about" style="display: block">About</a>
        <p class="mb-0"></p>
    </div>
</footer>