<!--suppress ThymeleafVariablesResolveInspection -->
<nav th:fragment="header(user)" class="navbar navbar-expand-lg navbar-dark bg-dark"
     aria-label="Thirteenth navbar example">
    <div class="container">
        <script
                src="https://code.jquery.com/jquery-3.6.3.js"
                integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
                crossorigin="anonymous">
        </script>
        <script src="/js/login.js"></script>

        <a class="navbar-brand" href="/">MrSuccessCucumber228</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample11"
                aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse d-lg-flex collapse show" id="navbarsExample11" style="">
            <a class="navbar-brand col-lg-0 me-0" href="/"></a>
            <ul class="navbar-nav col-lg-9 justify-content-lg-center">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Home</a></li>
                <li>
                    <a tabindex="0" role="button" data-bs-toggle="popover"
                       data-bs-trigger="focus" data-bs-title="Here's a little problem("
                       data-bs-content="Here's some amazing content, but you should be signed up!"
                       class="nav-link px-2">Challenge
                    </a>
                </li>
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <button onclick="clear_validation()" type="button" class="btn btn-outline-light me-2"
                        data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                    Log in
                </button>
                <button onclick="clear_validation()" type="button" class="btn btn-warning me-2" data-bs-toggle="modal"
                        data-bs-target="#registerModal">
                    Sign up
                </button>
            </div>
        </div>
    </div>

    <!-- login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <p id="login_validation_username" style="color: red; display: none"></p>
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Enter username" required>
                    </div>


                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Enter password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="login()" type="button" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>

    <!--    registration modal-->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registerModalLabel">Registration</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="register_validation_success" style="color: green; display: none"></p>
                    <div class="form-group mb-3">
                        <label for="username_reg">Username</label>
                        <input type="text" class="form-control" id="username_reg"
                               placeholder="Enter username" required>
                        <p id="register_validation_username" style="color: red; display: none"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="password_reg">Password</label>
                        <input type="password" class="form-control" id="password_reg"
                               placeholder="Enter password" required>
                        <p id="register_validation_password" style="color: red; display: none"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="signup()" class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </div>
    </div>

</nav>