<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, HtmlUnknownTag -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>MrSuccessCucumber228</title>
    <link rel="icon" type="image/png" href="/images/icon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
<header>
    <th:block th:if="${principal==null}">
        <nav th:replace="~{fragments/header::header(${user})}"></nav>
    </th:block>
</header>
<header>
    <th:block th:if="${principal!=null}">
        <nav th:replace="~{fragments/header-auth::header(${user.getUsername()})}"></nav>
    </th:block>
</header>

<main class="row justify-content-center">
    <article class="col-11 col-md-6">
        <section class="row row-cols-2 row-cols-md-4 g-2 my-4">
            <div class="col">
                <a href="#sport" class="card">
                    <div class="card-body">
                        Sport habits
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#health" class="card">
                    <div class="card-body">
                        Health habits
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#life" class="card">
                    <div class="card-body">
                        Life habits
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#learn" class="card">
                    <div class="card-body">
                        Learn habits
                    </div>
                </a>
            </div>
        </section>

        <section>

            <!--            sport habits-->
            <h1 id="sport" class="custom_h1">Sport habits</h1>

            <h2 class="custom_h2">Exercise every day</h2>
            <p class="custom_p">One of the absolute best habits to have in life is to exercise every single day
                without
                fail. This isn't
                about heavy weightlifting or running a marathon. This is about doing lightly strenuous activity to
                oxygenate your blood and boost the endorphins in your body.</p>
            <p class="custom_p">Not only will you feel physically better when you start this habit, but you'll also
                feel
                more motivated,
                have more mental clarity and be more emotionally sound. Exercise releases dopamine, oxytocin and
                serotonin into the system, giving an almost euphoric effect without the usage of any drugs
                whatsoever.</p>
            <img src="https://cff2.earth.com/uploads/2018/04/25010648/Exercise-can-actually-make-the-heart-younger.jpg"
                 alt="exercise">

            <h2 class="custom_h2">Walk those 10,000 steps every day</h2>
            <p class="custom_p">Most people know that walking 10,000 steps a day is good for you, but we often don't
                reach that goal.
                <a class="custom_a"
                   href="https://femanin.com/2022/11/08/heres-what-happens-if-you-walk-10k-steps-every-day/3">Here
                    is
                    why
                    you
                    should walk 10000 steps every day</a>
            </p>
            <img src="https://d9s1543upwp3n.cloudfront.net/wp-content/uploads/2020/11/shutterstock_599941709.jpg"
                 alt="steps">


            <!--            health habits-->
            <h1 id="health" class="custom_h1">Health habits</h1>

            <h2 class="custom_h2">Drink enough water</h2>
            <p class="custom_p">Optimal functioning of your body also depends on hydration. Water is vital for the
                normal functioning of
                the body. If your body is dehydrated, of course, you will experience significant discomfort:
                headache,
                fatigue, digestive problems, you will feel bad in general... You can avoid this in a very simple
                way:
                drink more water every day.</p>
            <img src="https://assets-global.website-files.com/626a9332e74959ea40ffe3ae/629f51692ed7dc96e1f601a1_Drink%20Water%202.jpg"
                 alt="drink water">

            <h2 class="custom_h2">Good days begin with a healthy breakfast</h2>
            <p class="custom_p">Breakfast is important. However, 31 million Americans skip breakfast daily. The
                saying
                that breakfast is
                the most important meal is true. If you want to be successful, have a healthy breakfast every
                morning.
                It doesn't take much effort, just a bit of planning. If you're always in a hurry, try waking up
                earlier
                to make time for this habit.</p>
            <img src="https://traveltimes.ru/wp-content/uploads/2021/07/1ce1f6510bcfa35b01c057928fb6d777.jpg"
                 alt="breakfast">

            <h2 class="custom_h2">Eat vegetables</h2>
            <p class="custom_p">Eating vegetables every day is important for health. They provide essential
                vitamins,
                minerals, and
                other nutrients, such as antioxidants and fiber. Research consistently shows that people who eat at
                least 5 servings of vegetables a day have the lowest risk of many diseases, including cancer and
                heart
                disease. <a class="custom_a"
                            href="https://ucfhealth.com/our-services/lifestyle-medicine/why-are-vegetables-good-for-you/">
                    Here are 11 reasons why you should eat vegetables every day</a></p>
            <img src="https://blog.pinehurstlaser.com/wp-content/uploads/2018/04/bright-veggies.jpg"
                 alt="vegetables">


            <h2 class="custom_h2">Develop A Healthy Sleep Routine</h2>
            <p class="custom_p">One of the good habits you’ll need to develop is a proper nighttime routine. Going
                to
                bed at the same
                time each night (including weekends) is a great way to help develop a pattern that’ll help you get
                your
                rest. Aim to go to bed at 9 or 10 in the evening to wake up naturally in the morning instead of
                being
                startled awake by your alarm. Many stoic philosophers also believed in getting an afternoon nap in,
                each
                day after lunch to help them stay sharp. If you notice you feel a bit drowsy after eating, consider
                adding a quick half hour nap during your lunch hour to improve your focus in the afternoon.</p>
            <img src="https://hips.hearstapps.com/hmg-prod/images/close-up-of-alarm-clock-on-table-by-woman-sleeping-royalty-free-image-932506546-1551805426.jpg?crop=1.00xw:0.751xh;0,0.156xh&amp;resize=640:*"
                 alt="sleep routine">

            <!--            life habits-->
            <h1 id="life" class="custom_h1">Life habits</h1>

            <h2 class="custom_h2">Analyze Your Week Each Sunday</h2>
            <p class="custom_p">One of the best good habits to have is to regularly monitor your performance and
                behavior each week. You
                can keep a journal or answer the same set of questions. By picking a set day of the week such as
                Sunday
                to do this, you ensure that you consistently do this good habit. To live a meaningful life, you need
                to
                regularly check-in with yourself.</p>
            <p class="custom_p">Which good deeds did you do this week? Were you always kind to others? Are you
                moving
                towards or away
                from your goals? Did you spend enough time fostering relationships with those you care about? Did
                you
                fall off the wagon for any of your goals? How can you improve? By asking yourself questions like
                this
                each week, you hold yourself accountable. You can literally answer the same set of questions each
                week
                so that you stay committed to what you’re setting out to accomplish.</p>
            <img src="https://www.wecaredigital.in/wp-content/uploads/Analyse_1080x675.jpg" alt="analyze">

            <h2 class="custom_h2">Practice Daily Meditation</h2>
            <p class="custom_p">Your first step in your journey to developing good habits takes place in the mind.
                Your
                mind is like a
                control center for your life. It controls your moods, your actions, and how you live your life. If
                your
                mind is chaotic, you’ll live a chaotic life. If your mind is racing with negative thoughts, you’ll
                always see the worst in everything. But with meditation, you take back control of your mind. You
                might
                notice a negative thought arising but instead of internalizing it, instead you’ll watch it come and
                pass. That’s the impact meditation can have. It gives you back your clarity, your focus, and your
                positivity. You can check out our free guided meditations on our website or download our free
                meditation
                app on your phone to start this good habit today.</p>
            <img src="https://i.pinimg.com/originals/0d/09/db/0d09db47238079694af86601c1a985c7.png"
                 alt="meditation">

            <h2 class="custom_h2">Daily goals, every day</h2>
            <p class="custom_p">Most people have goals. Whether it's something to achieve in business or in life,
                we're
                all moving in
                one intended direction or another. However, while long-term goals do give us direction, it's the
                daily
                goals that we set that allow us to create short-term milestones that are integral to our success.
            </p>
            <p class="custom_p">Long-term goals can seem overwhelming even in the best of times. But by implementing
                a
                daily
                goal-setting strategy, you can overcome some of the enormity associated with achieving big things in
                life by focusing on the one-day-at-time, short-term scenarios.</p>
            <img src="https://blogstudio.s3.amazonaws.com/onward-online/90c2747bb54e0e371d6edc100dd34b06.jpg"
                 alt="daily goals">

            <h2 class="custom_h2">Keep a journal</h2>
            <p class="custom_p">Journaling your thoughts is a great way to reflect on who you are and what you've
                been
                doing in life.
                Time can go by so quickly that we often forget the details of what we did even a few short months
                ago.
                Those details are often novel to recall as it adds clarity and purpose to our lives, reminding us of
                life's lessons and joys.</p>
            <p class="custom_p">Get in the habit of writing out your thoughts and journaling your experiences on a
                daily
                basis.
                Intertwine it with your goals, hopes and dreams for the future, writing out what you envision your
                life
                will look like down the road, then come back to read it later on to get a window into your mind at
                any
                point in your life. This is a powerful method for self-reflection, and also a great way to motivate
                and
                inspire yourself going forward into the future.</p>
            <img src="https://eraofillumination.files.wordpress.com/2018/11/life-journals.png" alt="journal">

            <h2 class="custom_h2">Focus on what you have</h2>
            <p class="custom_p">We spend a great deal of time immersed in our problems. But problems are also a sign
                of
                life. The only
                time we'll lack problems is when we're six feet under. And if you want to shift your focus away from
                your problems, you have to be grateful for what you have. Yes, even for your problems.</p>
            <p class="custom_p">Gratitude is the surest pathway to health, happiness and success. It shifts our
                attention towards what
                we have rather than what we don't have. It's the natural abundance of simple pleasures and
                opportunities
                that we've been afforded with and blessed with that we often take for granted.</p>
            <img src="https://salid.ru/sites/default/files/inline-images/1_19.jpg" alt="focus what you have">

            <h2 class="custom_h2">Smiling is good therapy</h2>
            <p class="custom_p">Studies have confirmed that people who smile a genuine smile (also referred to as a
                Duchenne smile) are
                happier in life. This is one of the best habits for allowing you to find emotional, mental and
                spiritual
                peace-of-mind over time -- simply by placing a smile on your face.</p>
            <p class="custom_p">The physiology of our bodies dictates the psychology of our minds. When we frown or
                slouch or do any
                number of other things that convey a sense of depression and unhappiness, our mind takes those cues
                and
                runs with them. However, once we shift our outward appearance by consciously adjusting ourselves,
                our
                inward feelings follow.</p>
            <img src="https://kg-portal.ru/img/117411/main_2x.jpg" alt="smile">


            <!--            learn habits-->
            <h1 id="learn" class="custom_h1">Learn habits</h1>

            <h2 class="custom_h2">Use Pomodoro and The Forest</h2>
            <a class="custom_a" href="https://todoist.com/ru/productivity-methods/pomodoro-technique">Here is info
                about
                pomodoro
                timer</a>
            <p class="custom_p">Forest is an app that helps you stay focused on the important things in life.</p>
            <ul>
                <li class="custom_p">Whenever you want to stay focused, plant a tree.</li>
                <li class="custom_p">Your tree will grow while you focus on your work.</li>
                <li class="custom_p">Leaving the app halfway will cause your tree to die.</li>
            </ul>
            <a class="custom_a" href="https://www.forestapp.cc/">Find The Forest app here</a>
            <img src="https://sm.mashable.com/t/mashable_it/photo/default/forest_n827.2496.png"
                 alt="the forest app">

            <h2 class="custom_h2">Early to be, early to rise</h2>
            <p class="custom_p">The early morning hours are a time for peaceful reflection and ample productivity,
                where
                the world is
                still and asleep, allowing you to focus wholeheartedly on your long-term goals. Anyone who is
                serious
                about success in any measure knows that it's important to wake up early.</p>
            <p class="custom_p">Even if you're not a morning person, use incremental changes in your daily routine
                to
                start waking up
                earlier and earlier. Begin by setting your alarm clock back by 15 minutes the first week, 15 minutes
                the
                next week and so on. Do this until you can wake up at least two hours earlier than you're waking up
                now.</p>
            <img src="https://cdn.lifehack.org/wp-content/uploads/2015/10/11230803/HNCK3991.jpg" alt="productivity">

            <h2 class="custom_h2">Read</h2>
            <p class="custom_p">Whether you read the newspaper, financial news, a novel, a non-fiction book, or
                anything
                else, find time
                to read something. Reading is an important habit to develop in life, and you shouldn't rely on
                audiobooks or movies all the time. Good old-fashioned reading, the traditional non-screen way, does
                the
                trick.</p>
            <p class="custom_p">Reading can help you uncover new worlds, ideas or ways of doing things that you
                might
                not have known
                about before. It's also a great way to educate yourself or entertain yourself at any given moment.
            </p>
            <img src="https://mf.b37mrtl.ru/rbthmedia/images/2021.08/original/612c9d9f15e9f973fd4248c0.jpg"
                 alt="reading">

            <h2 class="custom_h2">Tidy everything</h2>
            <p class="custom_p">Physical clutter results in a loss of focus. When our lives are disorganized and in
                a
                state of disarray,
                it's hard to stay focused on our goals. Take the time to organize your home and office, and do just
                a
                little each day to enforce this habit. Take a single drawer and organize it, or organize a solitary
                corner of your home or even a cabinet in your office.</p>
            <p class="custom_p">The importance of this habit is highlighted by a study in the Journal of
                Neuroscience
                titled,
                "Interactions of top-down and bottom-up mechanisms in human visual cortex," which says "Multiple
                stimuli
                present in the visual field at the same time compete for neural representation by mutually
                suppressing
                their evoked activity throughout visual cortex." In plain English -- clutter lends itself to a major
                loss of focus.</p>
            <img src="https://www.verywellmind.com/thmb/vb0HwZYlwVxGkUlR0G20AKodQnY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1158875203-d55fc51d5ac944c68956f03537a0ac50.jpg"
                 alt="cleaning">
        </section>

        <section>
            <a class="card card-body text-center" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                References
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p class="custom_p" style="margin-top: 20px; font-weight: bold">Websites</p>
                    <a class="custom_a"
                       href="https://www.entrepreneur.com/growing-a-business/25-best-habits-to-have-in-life/299317">https://www.entrepreneur.com/growing-a-business/25-best-habits-to-have-in-life/299317</a>
                    <a class="custom_a"
                       href="https://declutterthemind.com/blog/good-habits/">https://declutterthemind.com/blog/good-habits/</a>
                    <a class="custom_a"
                       href="https://www.wazeesupperclub.com/why-you-should-eat-vegetables-everyday/">https://www.wazeesupperclub.com/why-you-should-eat-vegetables-everyday/</a>
                    <p class="custom_p" style="margin-top: 20px; font-weight: bold">Images</p>
                    <a class="custom_a"
                       href="https://traveltimes.ru/wp-content/uploads/2021/07/1ce1f6510bcfa35b01c057928fb6d777.jpg">https://traveltimes.ru/wp-content/uploads/2021/07/1ce1f6510bcfa35b01c057928fb6d777.jpg</a>
                    <a class="custom_a"
                       href="https://blog.pinehurstlaser.com/wp-content/uploads/2018/04/bright-veggies.jpg">https://blog.pinehurstlaser.com/wp-content/uploads/2018/04/bright-veggies.jpg</a>
                    <a class="custom_a"
                       href="https://cdn.lifehack.org/wp-content/uploads/2015/10/11230803/HNCK3991.jpg">https://cdn.lifehack.org/wp-content/uploads/2015/10/11230803/HNCK3991.jpg</a>
                    <a class="custom_a"
                       href="https://cff2.earth.com/uploads/2018/04/25010648/Exercise-can-actually-make-the-heart-younger.jpg">https://cff2.earth.com/uploads/2018/04/25010648/Exercise-can-actually-make-the-heart-younger.jpg</a>
                    <a class="custom_a"
                       href="https://d9s1543upwp3n.cloudfront.net/wp-content/uploads/2020/11/shutterstock_599941709.jpg">https://d9s1543upwp3n.cloudfront.net/wp-content/uploads/2020/11/shutterstock_599941709.jpg</a>
                    <a class="custom_a"
                       href="https://assets-global.website-files.com/626a9332e74959ea40ffe3ae/629f51692ed7dc96e1f601a1_Drink%20Water%202.jpg">https://assets-global.website-files.com/626a9332e74959ea40ffe3ae/629f51692ed7dc96e1f601a1_Drink%20Water%202.jpg</a>
                    <a class="custom_a"
                       href="https://i.pinimg.com/originals/0d/09/db/0d09db47238079694af86601c1a985c7.png">https://i.pinimg.com/originals/0d/09/db/0d09db47238079694af86601c1a985c7.png</a>
                    <a class="custom_a"
                       href="https://blogstudio.s3.amazonaws.com/onward-online/90c2747bb54e0e371d6edc100dd34b06.jpg">https://blogstudio.s3.amazonaws.com/onward-online/90c2747bb54e0e371d6edc100dd34b06.jpg</a>
                    <a class="custom_a"
                       href="https://www.wecaredigital.in/wp-content/uploads/Analyse_1080x675.jpg">https://www.wecaredigital.in/wp-content/uploads/Analyse_1080x675.jpg</a>
                    <a class="custom_a"
                       href="https://eraofillumination.files.wordpress.com/2018/11/life-journals.png">https://eraofillumination.files.wordpress.com/2018/11/life-journals.png</a>
                    <a class="custom_a" href="https://salid.ru/sites/default/files/inline-images/1_19.jpg"></a>
                    <a class="custom_a"
                       href="https://kg-portal.ru/img/117411/main_2x.jpg">https://kg-portal.ru/img/117411/main_2x.jpg</a>
                    <a class="custom_a"
                       href="https://sm.mashable.com/t/mashable_it/photo/default/forest_n827.2496.png">https://sm.mashable.com/t/mashable_it/photo/default/forest_n827.2496.png</a>
                    <a class="custom_a"
                       href="https://mf.b37mrtl.ru/rbthmedia/images/2021.08/original/612c9d9f15e9f973fd4248c0.jpg">https://mf.b37mrtl.ru/rbthmedia/images/2021.08/original/612c9d9f15e9f973fd4248c0.jpg</a>
                    <a class="custom_a"
                       href="https://www.verywellmind.com/thmb/vb0HwZYlwVxGkUlR0G20AKodQnY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1158875203-d55fc51d5ac944c68956f03537a0ac50.jpg">https://www.verywellmind.com/thmb/vb0HwZYlwVxGkUlR0G20AKodQnY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1158875203-d55fc51d5ac944c68956f03537a0ac50.jpg</a>
                    <a class="custom_a"
                       href="https://hips.hearstapps.com/hmg-prod/images/close-up-of-alarm-clock-on-table-by-woman-sleeping-royalty-free-image-932506546-1551805426.jpg?crop=1.00xw:0.751xh;0,0.156xh&amp;resize=640">https://hips.hearstapps.com/hmg-prod/images/close-up-of-alarm-clock-on-table-by-woman-sleeping-royalty-free-image-932506546-1551805426.jpg?crop=1.00xw:0.751xh;0,0.156xh&amp;resize=640</a>
                </div>
            </div>
        </section>
    </article>
</main>


<footer th:replace="~{fragments/footer::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</body>

</html>