<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header-auth::header(${user.getUsername()}, ${user.getPoints()})}"></header>
<main>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
<script src="bootstrap-5.0.2-dist/js/bootstrap.js"></script>
</body>
</html>